@model WebApplicationbookstore.Models.Book

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Animals</h4>
	<hr />
	<dl class="bg-secondary text-white  row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Info)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Info)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Bookquantity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Bookquantity)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Cataid)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Cataid)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Author)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Author)
		</dd>
		<dd>
			<img src="~/images/@Model.Imgfile" height="150" />
			<br />@Model.Imgfile
		</dd>

	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
